################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.licenseheader
*.log
*.sln
*.db
*.opendb
*.filters
*.user
